<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Tracker</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Money Tracker</h1>

    <!-- Transaction Form -->
    <form id="transactionForm">
        <label for="amount">Amount:</label>
        <input type="number" id="amount" required>

        <label for="description">Description:</label>
        <input type="text" id="description" required>

        <label for="type">Type:</label>
        <select id="type" required>
            <option value="income">Income</option>
            <option value="expense">Expense</option>
        </select>

        <button type="submit">Add Transaction</button>

        <!-- New Clear Transactions button -->
        <button type="button" id="clearButton">Clear Transactions</button>
    </form>

    <!-- Display transactions -->
    <div id="transactions">
        <!-- Transactions will be displayed here dynamically -->
    </div>

    <!-- Display net amount -->
    <div id="netAmount"></div>

     <!-- Footer -->
     <footer style="background-color: green; color: white; padding: 10px; text-align: center;">
        &copy; This Website is created for Bharath Internship
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>
